.info-block {
    display: flex;
    flex-direction: row;
    min-height: 300px;
    width: 100vw;
    background-color: black;

    border-top: solid 5px grey;
}

.info-block-content {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: blueviolet; */
    color: #f9f9f9;
}
.info-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 10px;
    text-align: center;
    color: #f9f9f9;
}
.info-block-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-block-title h2 {
    margin-bottom: 10px;
}
