.MainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://i.imgur.com/larqIlf.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.MainPage .Logo {
    width: 100px;
    height: 50px;
}
.MainPage h1 {
    color: white;
    font-size: 60px;
    font-family: STHeiti, SimHei, sans-serif;
    text-align: center;
}
.MainPage p {
    color: white;
    font-size: 23px;
    font-family: STHeiti, SimHei, sans-serif;
    text-align: center;
}
.MainPage .ButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.MainPage button {
    color: white;
    font-size: 25px;
    font-family: STHeiti, SimHei, sans-serif;
    text-align: center;
    border: none;
    padding: 15px;
    margin: 50px;
}
.MainPage .Join {
    background-color: #ff0000;
}
.MainPage .Join:hover {
    animation: JoinAni 2s infinite;
}
@keyframes JoinAni {
    0% {
        box-shadow: 0 0 20px black;
    }
    50% {
        box-shadow: 0 0 20px #ffffff;
    }
    100% {
        box-shadow: 0 0 20px black;
    }
}
.MainPage .AboutUs {
    background-color: transparent;
}
.MainPage .AboutUs:hover {
    animation: AboutAni 2s infinite;
}
.MainPage .CardContainer {
    justify-content: center;
    margin: auto;
    width: 40%;
    height: 300px;
    background-color: aqua;
}
@keyframes AboutAni {
    50% {
        background-color: #aaaaaa;
    }
}
