body {
    margin: 0;
    width: 100vw;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
    background-color: #333333;
    margin: 0px;
}
